<footer class="footer">
  <a class="footer__icon" href="#hero">
    <img src="./assets/images/ico-arrow.svg" alt="Flecha hacia arriba" />
  </a>
  <nav class="footer__menu">
    <ul class="fmenuOne">
      <li class="fmenuOne__item">
        <a class="flink" href="https://adalab.es/">Zapatillas</a>
      </li>
      <li class="fmenuOne__item">
        <a class="flink" href="https://adalab.es/">Ropa</a>
      </li>
      <li class="fmenuOne__item">
        <a class="flink" href="https://adalab.es/">Niño/a</a>
      </li>
      <li class="fmenuOne__item">
        <a class="flink" href="https://adalab.es/">Destacados</a>
      </li>
      <li class="fmenuOne__item">
        <a class="flink" href="https://adalab.es/">Tips </a>
      </li>
    </ul>
    <ul class="fmenuSocial">
      <li class="fmenuSocial__item">
        <a class="flink" href="https://adalab.es/">Twitter</a>
      </li>
      <li class="fmenuSocial__item">
        <a class="flink" href="https://adalab.es/">Instagram</a>
      </li>
      <li class="fmenuSocial__item">
        <a class="flink" href="https://adalab.es/">Youtube</a>
      </li>
    </ul>
  </nav>
  <p class="footer__text">&copy; 2023</p>
  <p class="footer__text">we <span class="footer__text--heart">&#x2764</span> run</p>
</footer>
