<section class="back">
  <h3 class="back__title">Vuelta al cole</h3>
  <p class="back__text">¡Prepáralos con tus marcas favoritas!</p>

  <ul class="back__list">
    <li class="listOne">
      <img
        class="back__image"
        src="./assets/images/lpbts-mod05-img01-desk.png"
        alt="Chica con mochila sonriendo"
      />
      <p class="back__timage">Mochilas escolares</p>
    </li>
    <li class="listTwo">
      <img
        class="back__image"
        src="./assets/images/lpbts-mod05-img03-mob.png"
        alt="Niño jugando con estuche"
      />
      <p class="back__timage">Estuches</p>
    </li>
    <li class="listThree">
      <img
        class="back__image"
        src="./assets/images/lpbts-mod05-img04-mob.png"
        alt="Niña con mochila saludando"
      />
      <p class="back__timage">Bolsas de deporte</p>
    </li>
  </ul>
  <a class="back__link" href="https://adalab.es/">Empezar ahora</a>
</section>

<!-- <section class="back">
  <h3 class="back__title">Vuelta al cole</h3>
  <p class="back__text">¡Prepáralos con tus marcas favoritas!</p>


  <p class="back__timage"><img class="back__image" src="./assets/images/lpbts-mod05-img01-desk.png" alt="Chica con mochila sonriendo"/>Mochilas escolares</p>


  <p class="back__timage"></p><img class="back__image" src="./assets/images/lpbts-mod05-img03-mob.png"alt="Niño jugando con estuche"/>Estuches</p>
  

  <p class="back__timage"> <img class="back__image" src="./assets/images/lpbts-mod05-img04-mob.png" alt="Niña con mochila saludando"/>Bolsas de deporte</p>
  
  <a class="back__link" href="https://adalab.es/">Empezar ahora</a>
</section> -->
