// Colors

$colorone: #6c933e;
$colortwo: #d9e4cc;
$colorthree: #4a4a4a;
$colorfour: white;
$colorfive: #626262;
$colorsix: black;

// Font Family

$roboto: "Roboto", sans-serif;
$robotoSlab: "Roboto Slab", serif;

// Font-size

$size1: 1.4rem;
$size2: 1.6rem;
$size3: 1.8rem;
$size4: 2rem;
