.footer {

    background-color:$colorthree;
    color:$colorfour;
    font-family: $roboto;
    width: 100%;
    height: 43.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    @media (min-width:768px) {
            height: 24rem;
            flex-direction: row-reverse;
            gap: 10rem;
            align-items: first baseline;
            justify-content: center;
            padding-top: 5rem;
    }
    
    // &__icon {

    //     height: 4.5rem;
    //     width: 4.5rem;
    //     background-color: $colorfour;
    //     border-radius: 50%;
    //     @include dflexcenter ();
    //     transform: translateY(-2rem);
        
        
    // }

    &__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap:1.5rem;
        padding-bottom: 2rem;

        @media (min-width:768px) {
            flex-direction: row;
            gap:10rem;
            text-align: left;
            padding-bottom: 0;
            align-items: baseline;
        }

        .fmenuOne, .fmenuSocial{
            list-style: none;
        }
        .flink {
            color:$colorfour;
            text-decoration: none;
            font-size: 1.6rem;
            text-transform: uppercase;
            line-height: 3rem;
            
        }
        
    
    }
    &__text {
        color:$colorfour;
        font-size: 1.4rem;
        text-decoration: none;
        

        &--heart {
            color:$colorone;
            font-size: 1.4rem;
            font-weight: 700;
            margin-top:0.5rem;
        }
    }
}

 

