.header {
  @include dflexcenter();
  background-color: $colorone;
  position: fixed;
  top: 0;
  left: 0;
  height: 3.7rem;
  width: 3.7rem;

  &__menu {
    height: 1.2rem;
    width: 1.3rem;

    &--icon {
      height: inherit;
      width: inherit;
    }
  }
}
