.hero {
    min-height: 100vh;
    background-image: url("../images/cover-tiny.jpeg");
    background-position:center right (17%);
    background-size:cover;
    background-position-y: top;
    flex-direction: column;
    @include dflexcenter ();
        @media (min-width:768px) {
            height: 78.4rem;
            background-size: 155%;
            background-repeat: no repeat;
            background-position-x: 65%;
        }
    
    &__title {
        color:$colorfour;
        font-family: $robotoSlab;
        font-size: 3rem;
        line-height: 4.6rem;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
        text-align:center;
        padding-top: 26.5rem;
        padding-bottom:2rem ;
        padding-right:1rem;

            @media (min-width:768px) {
                font-size:7.5rem;
                line-height:10rem;
                padding-top: 36rem;
                padding-bottom: 0;
            }
    }
    &__text {
        color: $colorfour;
        font-family: $roboto;
        font-size: 1.6rem;
        line-height: 1.9rem;
        text-align: center;
        margin-right: 1rem;
        width: 24.30rem;
        @media (min-width:768px) {
            font-size:2.4rem;
            line-height:2.8rem;
            width:34rem
        }
    }

    &__icon {
        height: 3.82rem;
        width: 3.82rem;
        background-color: $colorfour;
        border-radius: 50%;
        @include dflexcenter ();
        transform: translateY(1.7rem);

        @media (min-width:768px) {
            width: 4.5rem;
            height: 4.5rem;
        }
        
        &--img {
            height:0.9rem;
            width:1.7rem;
                @media (min-width:768px) {
                width: 2rem;
                height:1.1rem;
                }
        }
    }
}    

